{% extends "acade_owner/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
<div class="data-table-area mg-t-40 mg-b-40">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="button-ad-wrap mg-b-40">

                    <h4>Select Report</h4> 
                        <form method="GET" action="{% url 'selected-rents-report' %}" enctype="multipart/form-data">
                            {% csrf_token %}    
                            <div class="row">
                                    <div class="col-lg-1">
                                        <label class="login2 pull-right pull-right-pro">Arcade*:</label>
                                    </div>
                                    <div class="col-lg-2">

                                        <select name="acade" class="select2_demo_3 form-control" required style="width: 100%;">
                                            {% for arcade in arcades %}
                                            <option value="{{arcade.id}}">{{arcade.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                <div class="col-lg-1">
                                    <label class="login2 pull-right pull-right-pro">From:</label>
                                </div>
                                <div class="col-lg-2">
                                    <input name="rent_from" type="date" class="form-control" autocomplete="off" placeholder="Select date">
                                </div>
                                <div class="col-lg-1">
                                    <label class="login2 pull-right pull-right-pro">To:</label>
                                </div>
                                <div class="col-lg-2">
                                    <input name="rent_to" type="date" class="form-control" autocomplete="off" placeholder="Select date">
                                </div>
                                <div class="col-lg-2">
                            <button class="btn btn-success mg-b-4 " style="margin-bottom: 5%; margin: 5%;" type="submit">Select</button>
                            </div>
                            </div>
                        </form>
                    </div> 
            </div>
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1><span class="table-project-n"> Rent Report for {{ acade.name}} from {{rent_from}} to {{rent_to}} </span></h1>
                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="name" data-editable="false">Room</th>
                                        <th data-field="position" data-editable="false">From</th>
                                        <th data-field="area" data-editable="false">To</th>
                                        <th data-field="place" data-editable="false">Amount</th>
                                        <th data-field="voters" data-editable="false">Balance</th>
                                        <th data-field="by" data-editable="false">Paid by</th>
                                        <th data-field="phone" data-editable="false">Phone</th>
                                        <th data-field="date" data-editable="false">Date</th>
                                        <th data-field="act" data-editable="false">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for rent in rents %}
                                    <tr>
                                        <td></td>
                                        <td><a href="{% url 'book-room-details' rent.room.id %}" target="_blank">{{rent.room}}</a></td>
                                        <td>{{rent.rent_from}}</td>
                                        <td>{{rent.rent_to}}</td>
                                        <td>{{rent.amount_paid|intcomma}}</td>
                                        <td>{{rent.amount_to_pay|intcomma}}</td>
                                        <td>{{rent.paid_by}}</td>
                                        <td>{{rent.phone}}</td>
                                        <td>{{rent.date_created|date:"N d, Y"}}</td>

                                        <td> <a class="btn btn-custon-two btn-primary btn-xs" href="{% url 'update-rent' rent.id %}" style="color: white;" ><span class="adminpro-icon adminpro-edit"></span> edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Static Table End -->
 <!-- welcome Project, sale area start-->
{% endblock content %}