{% extends 'public/base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %} 
  <div class="project-details-area mg-t-40 mg-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="project-details-wrap shadow-reset">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <div class="project-details-title">
                                    <h2><span class="profile-details-name-nn">{{ product.name}}</span></h2>
                                </div>
                                <ul id="adminpro-demo2" class="comment-action-st collapse">

                                </ul>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="admin-comment-month project-details-action">
                                    <button class="comment-setting" data-toggle="collapse" data-target="#adminpro-demo2"></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <img src="{{ product.photo.url}}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Status:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs">{{ product.status}} </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Price:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs">{{ product.price|intcomma}} UGX </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Shop:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <a href="{% url 'shop-details' product.shop.id %}" target="_blank">{{ product.shop}} </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Shop Type:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">{{ product.shop.title}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Uploaded on:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span>{{ product.date_created}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>Contact:</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span>{{ product.user.userprofile.phone}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-descri project-details-mg-t-30">
                                    <h2>Product Description</h2>
                                    <p>{{ product.body}}</p>
                                </div>
                            </div>
                        </div>
</div>                      
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
<div class="row mg-b-30">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="project-details-descri project-details-mg-t-30 shadow-reset mg-b-30">
        <h2>Similar Products</h2>
    </div>
    {% for product in products %}
<div class="project-details-wrap shadow-reset mg-b-30">
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-10">
        <div class="project-details-title">
            <h2><span class="profile-details-name-nn">{{ product.name}}</span></h2>
        </div>
        <ul id="adminpro-demo2" class="comment-action-st collapse">
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="{{ product.photo.url}}">
        </div>
        <div class="project-details-mg">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="btn-group project-list-ad">
                        <a href="{% url 'product' product.id %}" class="btn btn-white btn-xs">More Details </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="project-details-mg">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="btn-group project-list-ad">
                        <button class="btn btn-white btn-xs">{{ product.price|intcomma}} UGX </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-details-mg">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="btn-group project-list-ad">
                        <strong>{{ product.shop}} </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}
<div class="project-details-descri shadow-reset mg-b-30">
<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a class="btn btn-custon-three btn-default btn-sm" href="?page=1">&laquo; Latest</a>
            <a class="btn btn-custon-three btn-default btn-sm" href="?page={{ products.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
           <button class="btn btn-warning btn-xs">{{ products.number }} of {{ products.paginator.num_pages }}.</button>
        </span>
        {% if products.has_next %}
            <a class="btn btn-custon-three btn-default btn-sm" href="?page={{ products.next_page_number }}">More</a>
            <a class="btn btn-custon-three btn-default btn-sm" href="?page={{ products.paginator.num_pages }}">Older&raquo;</a>
        {% endif %}
    </span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}