{% extends 'acade_owner/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="button-adminpro-area mg-t-40">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="button-ad-wrap mg-b-40">
    <h4>Complain Form</h4>	
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}	
			<fieldset>
				{{ form|crispy }}
				<button class="btn btn-success mg-b-4 " style="margin-bottom: 5%; margin: 5%;" type="submit">Submit</button>
			</fieldset>
		</form>
	</div> 
</div>
<div class="col-md-6">
<div class="sparkline13-list shadow-reset">
    <div class="sparkline13-hd">
        <div class="main-sparkline13-hd">
            <h1>{{ head }}<span class="table-project-n"> Complains</span></h1>
            <div class="sparkline13-outline-icon">
                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                <span><i class="fa fa-wrench"></i></span>
                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <div class="sparkline13-graph">
        <div class="datatable-dashv1-list custom-datatable-overright">
            <div id="toolbar">
            </div>
            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Room</th>
                    <th>Date</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for complain in complains %}
                    <tr>
                        <td></td>
                        <td><a href="{% url 'complain-details' complain.id %}">{{ complain.title }}</a></td>
                        <td>{{ complain.room }}</td>
                        <td>{{ complain.date_created }}</td>
                        <td>
                        <a href="{% url 'update-complain' complain.id %}" class="tooltip-success" data-rel="tooltip" title="Edit">
                            <span class="green">
                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                            </span>
                        </a>
                        </td>
                    </tr>

                    {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
</div>    
</div>
</div>
</div>
</div>
{% endblock content %}