{% extends "acade_owner/base.html" %}
{% block content %}
<!-- income order visit user Start -->
<div class="income-order-visit-user-area mg-t-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="income-dashone-total shadow-reset nt-mg-b-30">
                    <div class="income-title">
                        <div class="main-income-head">
                            <h2>Rent</h2>
                            <div class="main-income-phara">
                                <p>Monthly</p>
                            </div>
                        </div>
                    </div>
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="price-adminpro-rate">
                                <h3><span>$</span><span class="counter">60888200</span></h3>
                            </div>
                            <div class="price-graph">
                                <span id="sparkline1"></span>
                            </div>
                        </div>
                        <div class="income-range">
                            <p>Total income</p>
                            <span class="income-percentange">98% <i class="fa fa-bolt"></i></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="income-dashone-total shadow-reset nt-mg-b-30">
                    <div class="income-title">
                        <div class="main-income-head">
                            <h2>Rooms</h2>
                            <div class="main-income-phara order-cl">
                                <p>Annual</p>
                            </div>
                        </div>
                    </div>
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="price-adminpro-rate">
                                <h3><span class="counter">72320</span></h3>
                            </div>
                            <div class="price-graph">
                                <span id="sparkline6"></span>
                            </div>
                        </div>
                        <div class="income-range order-cl">
                            <p>New Orders</p>
                            <span class="income-percentange">66% <i class="fa fa-level-up"></i></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="income-dashone-total shadow-reset nt-mg-b-30">
                    <div class="income-title">
                        <div class="main-income-head">
                            <h2>Visitor</h2>
                            <div class="main-income-phara visitor-cl">
                                <p>Today</p>
                            </div>
                        </div>
                    </div>
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="price-adminpro-rate">
                                <h3><span class="counter">888200</span></h3>
                            </div>
                            <div class="price-graph">
                                <span id="sparkline2"></span>
                            </div>
                        </div>
                        <div class="income-range visitor-cl">
                            <p>New Visitor</p>
                            <span class="income-percentange">55% <i class="fa fa-level-up"></i></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="income-dashone-total shadow-reset nt-mg-b-30">
                    <div class="income-title">
                        <div class="main-income-head">
                            <h2>Bills</h2>
                            <div class="main-income-phara low-value-cl">
                                <p>Low Value</p>
                            </div>
                        </div>
                    </div>
                    <div class="income-dashone-pro">
                        <div class="income-rate-total">
                            <div class="price-adminpro-rate">
                                <h3><span class="counter">88200</span></h3>
                            </div>
                            <div class="price-graph">
                                <span id="sparkline5"></span>
                            </div>
                        </div>
                        <div class="income-range low-value-cl">
                            <p>In first month</p>
                            <span class="income-percentange">33% <i class="fa fa-level-down"></i></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- income order visit user End -->
<div class="welcome-adminpro-area">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="welcome-wrapper shadow-reset res-mg-t mg-b-30">
                    <div class="welcome-adminpro-title">
                        <h1>Welcome Adminpro</h1>
                        <p>You have 100 messages and 10 notifications.</p>
                    </div>
                    <div class="adminpro-message-list">
                        <ul class="message-list-menu">
                            <li><span class="message-serial message-cl-one">1</span> <span class="message-info">Please contact me</span> <span class="message-time">09:00 pm</span>
                            </li>
                            <li><span class="message-serial message-cl-two">2</span> <span class="message-info">Sign a contract</span> <span class="message-time">10:00 pm</span>
                            </li>
                            <li><span class="message-serial message-cl-three">3</span> <span class="message-info">Please delevary project</span> <span class="message-time">05:00 pm</span>
                            </li>
                            <li><span class="message-serial message-cl-four">4</span> <span class="message-info">Open new shop</span> <span class="message-time">04:00 pm</span>
                            </li>
                            <li><span class="message-serial message-cl-five">5</span> <span class="message-info">Improtant Notification here</span> <span class="message-time">09:00 pm</span>
                            </li>
                            <li><span class="message-serial message-cl-five">5</span> <span class="message-info">Improtant Notification here</span> <span class="message-time">09:00 pm</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="dashboard-line-chart shadow-reset mg-b-30">
                    <div class="flot-chart dashboard-chart">
                        <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="linechart-dash-rate">
                                <h2>$5,000</h2>
                                <p>Sales report</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="linechart-dash-rate">
                                <h2>$7,000</h2>
                                <p>Annual Sales</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="linechart-dash-rate">
                                <h2>$3,000</h2>
                                <p>revenue Sales</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 desplay-n-tablet">
                <div class="dashone-adminprowrap shadow-reset mg-b-30">
                    <div class="dash-adminpro-project-title">
                        <h2>Project progress</h2>
                        <p>You have two project right now.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="dashone-doughnut">
                                <canvas id="doughnutChart" width="80" height="80"></canvas>
                                <h3>Design</h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="dashone-doughnut">
                                <canvas id="doughnutChart2" width="80" height="80"></canvas>
                                <h3>Development</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="project-dashone-phara">
                                <p>Lorem Ipsum is simply dummy one text of the printing and the typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome Project, sale area start-->
{% endblock content %}