{% extends 'acade_owner/base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %} 
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mg-t-40 mg-b-40">
</div>
<div class="project-details-area mg-t-40 mg-b-40">
<div class="container">
<div class="row">
<div class="col-md-2 col-sm-12 col-xs-12">
</div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="project-details-wrap shadow-reset">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="project-details-title">
                        <h2><span class="profile-details-name-nn">{{ object.name}}</span></h2>
                    </div>
                    <ul id="adminpro-demo2" class="comment-action-st collapse">
                        <li><a href="#">Book</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="admin-comment-month project-details-action">
                        <button class="comment-setting" data-toggle="collapse" data-target="#adminpro-demo2">More...</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="project-details-mg">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="project-details-st">
                                    <span><strong>Status:</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="btn-group project-list-ad">
                                    <button class="btn btn-white btn-xs">{{ object.status}} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-details-mg">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="project-details-st">
                                    <span><strong>Floor:</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="project-details-dt">
                                    <span>{{ object.floor}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-details-mg">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="project-details-st">
                                    <span><strong>Building:</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="project-details-dt">
                                    <a href="{% url 'acade-details' object.acade.id %}" target="_blank">{{ object.acade}} </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-details-mg">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="project-details-st">
                                    <span><strong>Address:</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="project-details-dt">
                                    {{ object.acade.address}} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="project-details-mg">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="project-details-st">
                                    <span><strong>Size:</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="project-details-dt">
                                    <span>{{ object.size}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-details-mg">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="project-details-st">
                                    <span><strong>Owner:</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="project-details-dt">
                                    <span>{{ object.user.first_name}} {{ object.user.last_name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-details-mg">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="project-details-st">
                                    <span><strong>Phone:</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="project-details-dt">
                                    <span>{{ object.user.userprofile.phone}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-details-mg">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="project-details-st">
                                    <span><strong>Email:</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="project-details-dt">
                                    <span>{{ object.user.email}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-details-mg">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="project-details-st">
                                    <span><strong>Created:</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="project-details-dt">
                                    <span>{{ object.date_created}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mg-t-40 mg-b-40">
</div>
</div>
</div>

{% endblock content %}